Resources

https://www.youtube.com/watch?v=xiUTqnI6xk8

# **0x0D. SQL - Introduction**

 **<h2>What is SQL?</h2>**
SQL (Structured Query Language) is a programming language used to manage and manipulate data in a relational database. It is used to create, update, and retrieve data from databases. SQL is a standard language used by many database management systems such as MySQL, PostgreSQL, Oracle, and Microsoft SQL Server

### **RELATIONAL AND NON RELATIONAL DATABASE**

A relational database is a type of database that stores data in tables with rows and columns, where each row represents a unique record and each column represents a data attribute. These tables are related to each other through common data elements, or keys, which allows data to be linked and queried across multiple tables. Relational databases are based on a set of rules called ACID (Atomicity, Consistency, Isolation, and Durability) that ensure data consistency and reliability.

More on ACID

- **A**tomicity: transactions are atomic, which means if a transaction fails, the result will be like it never happened.
- **C**onsistency: you can define rules for your data, and expect that the data abides by the rules, or else the transaction fails.
- **I**solation: run two operations at the same time, and you can expect that the result is as though they were ran one after the other. That’s not the case with the JSON file storage you built: if 2 insert operations are done at the same time, the later one will fetch an outdated collection of users because the earlier one is not finished yet, and therefore overwrite the file without the change that the earlier operation made, totally ignoring that it ever happened.
- **D**urability: unplug your server at any time, boot it back up, and it didn’t lose any data.

non-relational databases, also known as NoSQL databases, do not use tables to store data. Instead, they use different data models such as key-value, document, column-family, or graph. Each model has its own way of organizing and storing data, but in general, NoSQL databases are designed to handle large volumes of unstructured or semi-structured data that may not fit neatly into a table. NoSQL databases typically offer high scalability, availability, and performance, and are often used in big data and real-time applications.

**CRUD** <br>
The four operations that can be performed on the data itself:

- **C**reate some data;
- **R**ead some data;
- **U**pdate some data;
- **D**estroy some data.

Data Definition Language (DDL): DDL is used to define the structure of a database. You will need to learn how to use DDL commands such as CREATE TABLE, ALTER TABLE, and DROP TABLE to create, modify, and delete tables in a database

Data Manipulation Language (DML): DML is used to manipulate data in a database. You will need to learn how to use DML commands such as INSERT, UPDATE, and DELETE to insert, update, and delete data in a database.

## Managing the MySQL service on a Linux system:

1. **`sudo service mysql start`**: used to start the MySQL service. This command can be used on Linux systems that do not use **`systemd`**.
2. **`sudo service mysql stop`**: used to stop the MySQL service. This command can be used on Linux systems that do not use **`systemd`**.
3. **`sudo service mysql restart`**: used to restart the MySQL service. This command can be used on Linux systems that do not use **`systemd`**.
4. **`sudo service mysql status`**: used to check the status of the MySQL service. This command can be used on Linux systems that do not use **`systemd`**.
5. **`sudo mysqladmin shutdown`**: used to shut down the MySQL service gracefully. This command sends a signal to the MySQL server to shut down, allowing it to complete any pending operations before stopping.
6. **`sudo mysql_secure_installation`**: used to secure the MySQL installation by setting a root password, removing anonymous user accounts, and disabling remote root login.
7. **`sudo mysqldump`**: used to create backups of MySQL databases.
8. **`sudo mysqlcheck`**: used to check, repair, and optimize MySQL databases.
9. **`sudo mysql_upgrade`**: used to upgrade the MySQL server and databases to a new version.

```sudo systemctl status mysql```

sudo systemctl status mysql is a command used to check the status of the MySQL service on a Linux system using the systemd system and service manager.

When you run this command with superuser privileges, systemd will report the current status of the MySQL service, including whether it is running, stopped, or in some other state. The output will also include additional information about the service, such as its process ID (PID), memory usage, and any recent log messages.

If the MySQL service is running, the output of this command should indicate that the service is active (i.e., running) and provide information about its current state. If the MySQL service is not running, the output will indicate that the service is inactive or failed and may provide information about the cause of the failure.

Note that if you do not have the systemd system and service manager installed on your Linux system, this command will not work.

```mysql -u root -p``` <br>
This is a command used to log in to the MySQL command line client with the **`root`** user account.

Here's what each part of the command means:

- **`mysql`** is the command used to start the MySQL command line client.
- **`u root`** specifies that you want to log in as the **`root`** user account. The **`u`** option stands for "user".
- **`p`** specifies that you want to be prompted for the password for the **`root`** user account. The **`p`** option stands for "password".

When you run this command, the MySQL command line client will prompt you for the password for the **`root`** user account. After you enter the correct password, you will be logged in to MySQL and you can start using MySQL commands to interact with the MySQL server.

## **Commands for managing databases in MySQL on a Linux system:**

1. **`mysql -u username -p`**: used to log in to the MySQL database server. Replace **`username`** with the username you want to log in as. This command will prompt you for the user's password.
2. **`CREATE DATABASE dbname;`**: used to create a new database in MySQL. Replace **`dbname`** with the name you want to give to the new database.
3. **`SHOW DATABASES;`**: used to display a list of all databases on the MySQL server.
4. **`USE dbname;`**: used to select a database to work with. Replace **`dbname`** with the name of the database you want to work with.
5. **`DROP DATABASE dbname;`**: used to delete a database in MySQL. Replace **`dbname`** with the name of the database you want to delete. Note that this command permanently deletes the database and all its contents, so use it with caution.
6. **`CREATE TABLE tablename (column1 datatype, column2 datatype, ...);`**: used to create a new table in a MySQL database. Replace **`tablename`**, **`column1`**, **`column2`**, and **`datatype`** with the names and data types of the columns you want to create.
7. **`SHOW TABLES;`**: used to display a list of all tables in the currently selected database.
8. **`DESCRIBE tablename;`**: used to display information about the structure of a specific table. Replace **`tablename`** with the name of the table you want to describe.
9. **`SELECT * FROM tablename;`**: used to retrieve all records from a table. Replace **`tablename`** with the name of the table you want to retrieve records from.
10. **`INSERT INTO tablename (column1, column2, ...) VALUES (value1, value2, ...);`**: used to insert new records into a table. Replace **`tablename`**, **`column1`**, **`column2`**, **`value1`**, **`value2`**, and so on with the appropriate table and column names and values.
11. **`UPDATE tablename SET column1=value1, column2=value2, ... WHERE condition;`**: used to update existing records in a table. Replace **`tablename`**, **`column1`**, **`value1`**, **`condition`**, and so on with the appropriate table and column names, values, and conditions.
12. **`DELETE FROM tablename WHERE condition;`**: used to delete records from a table. Replace **`tablename`** and **`condition`** with the appropriate table name and conditions for deleting records.

IMPORT AND DUMP Database

https://www.youtube.com/watch?v=zFS1UvYOLhI

## TASKS

#### Creating a Tables


1. Write a script that creates a table called `first_table` in the current database in your MySQL server.

- `first_table` description:
    - `id` INT
    - `name` VARCHAR(256)
- The database name will be passed as an argument of the `mysql` command
- If the table `first_table` already exists, your script should not fail
- You are not allowed to use the `SELECT` or `SHOW` statements

2. Write a script that creates a table `second_table` in the database `hbtn_0c_0` in your MySQL server and add multiples rows.

- `second_table` description:
    - `id` INT
    - `name` VARCHAR(256)
    - `score` INT
- The database name will be passed as an argument to the `mysql` command
- If the table `second_table` already exists, your script should not fail
- You are not allowed to use the `SELECT` and `SHOW` statements
- Your script should create these records:
    - `id` = 1, `name` = “John”, `score` = 10
    - `id` = 2, `name` = “Alex”, `score` = 3
    - `id` = 3, `name` = “Bob”, `score` = 14
    - `id` = 4, `name` = “George”, `score` = 8

3. Do the following
- show the full description of the tables without using `DECRIBE` and `EXPLAIN`
- list all the rows of the table first_table and second_table
- inserts a new row in the table first_table
- displays the number of records with id = 89 in the table first_table of the database
- lists all records with a score >= 10 in the table second_table
- Write a script that updates the score of Bob to 10 in the table second_table.
- computes the score average of all records in the table second_table
- lists the number of records with the same score in the table second_table 
- You need to convert all of the following to `UTF8`:

    - Database `hbtn_0c_0`
    - Table `first_table`
    - Field `name` in `first_table`

In [ ]:
SHOW GRANTS FOR 'user_0d_2'@'localhost';

#  0x0E. SQL - More queries

**Read or watch**:

- [How To Create a New User and Grant Permissions in MySQL](https://intranet.alxswe.com/rltoken/RniBKj48bnIN8xpXhGl1yA)
- [How To Use MySQL GRANT Statement To Grant Privileges To a User](https://intranet.alxswe.com/rltoken/FIiEIvA6IN_hSKM5TvgyxQ)
- [MySQL constraints](https://intranet.alxswe.com/rltoken/LrovGa6N-OE2ID_tpWZRaQ)
- [SQL technique: subqueries](https://intranet.alxswe.com/rltoken/kR71h5zjkPtx4kBoVf7q0g)
- [Basic query operation: the join](https://intranet.alxswe.com/rltoken/rNMJeQ1jbNTCljbvCSjf6w)
- [SQL technique: multiple joins and the distinct keyword](https://intranet.alxswe.com/rltoken/HhZ6TJ1q5S0aR4lhfpKdOQ)
- [SQL technique: join types](https://intranet.alxswe.com/rltoken/T6FZUQdsMzr8hgNInBzudA)
- [SQL technique: union and minus](https://intranet.alxswe.com/rltoken/Nd-sdM8QUpf0YKIlXzVv4w)
- [MySQL Cheat Sheet](https://intranet.alxswe.com/rltoken/iSNyinU6SPWTGDUWMmcRkg)
- [The Seven Types of SQL Joins](https://intranet.alxswe.com/rltoken/-plhBsra0N7BOuFoEg--zg)
- [MySQL Tutorial](https://intranet.alxswe.com/rltoken/I4Lws_eQrIrNTbkZvvk-oQ)
- [SQL Style Guide](https://intranet.alxswe.com/rltoken/051eAEP_rePBU7jeh879GA)
- [MySQL 8.0 SQL Statement Syntax](https://intranet.alxswe.com/rltoken/YavbYiraYFr8oTukT_N6eQ)

Extra resources around relational database model design:

- [Design](https://intranet.alxswe.com/rltoken/EWLRPeqr5sQ9AqfoG_KXxw)
- [Normalization](https://intranet.alxswe.com/rltoken/mqBhYoSYbhH5ZZrhDcY0kA)
- [ER Modeling](https://intranet.alxswe.com/rltoken/R0exkJmf-2ddKjGfa8D0dA)

## command lines

Upon installation, MySQL creates a root user account which you can use to manage your database. This user has full privileges over the MySQL server, meaning it has complete control over every database, table, user, and so on. Because of this, it’s best to avoid using this account outside of administrative functions.

- Use this `sudo mysql` if you don't need a password to login, and this if password is required to login or this `mysql -u root -p`
- Show all my current users `SELECT User, Host FROM mysql.user;` or `SELECT User, Host, Password, password_expired FROM mysql.user;`
- `SELECT * FROM mysql.db WHERE Db = 'db_name'\G;` get a list of all users that have some level access to the database named db_name you would use the following query:
- `SELECT db, host, user FROM mysql.db;` show you information about all databases and associated users:
- create a user with `CREATE USER 'sammy'@'localhost' IDENTIFIED WITH mysql_native_password BY 'StrongPassword!123';`. Here, 'sammy' is the username you want to create, 'localhost' is the host from which the user is allowed to connect, and 'StrongPassword!123' is a password that meets the policy requirements.
- `GRANT ALL PRIVILEGES ON *.* TO 'sammy'@'localhost' WITH GRANT OPTION;` to create a user
- `DROP USER 'username'@'localhost';` to drop a user


## Create a user name sammy and granting him persmissions
[Link](https://www.digitalocean.com/community/tutorials/how-to-create-a-new-user-and-grant-permissions-in-mysql)

CREATE USER 'sammy'@'localhost' IDENTIFIED WITH mysql_native_password BY 'StrongPassword!123*';


- Grant permission
`GRANT PRIVILEGE ON database.table TO 'username'@'host';`
The PRIVILEGE value in this example syntax defines what actions the user is allowed to perform on the specified database and table. You can grant multiple privileges to the same user in one command by separating each with a comma

- To grant a superuser priviledge
`GRANT ALL PRIVILEGES ON *.* TO 'sammy'@'localhost' WITH GRANT OPTION;`
- show a users priviledges `SHOW GRANTS FOR 'username'@'host';`

- To revoke priviledges, `REVOKE type_of_permission ON database_name.table_name FROM 'username'@'host';`

- Delete user `DROP USER 'username'@'localhost';`

## ?MySQL constraints
[link](https://zetcode.com/mysql/constraints/)

*Constraints* are placed on columns or tables. They limit the data that can be inserted into tables.

We have the following constraints:

- NOT NULL: A column with a NOT NULL constraint, cannot have NULL values.
- UNIQUE: The UNIQUE constraint ensures that all data are unique in a column
- PRIMARY KEY: The PRIMARY KEY constraint uniquely identifies each record in a database table
- FOREIGN KEY: A FOREIGN KEY in one table points to a PRIMARY KEY in another table
- ENUM: An ENUM is a string object with a value chosen from a list of permitted values.
- SET: A SET can have zero or more values.

Example

```
CREATE TABLE my_table (
  id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  column1 VARCHAR(255) NOT NULL UNIQUE,
  column2 ENUM('value1', 'value2', 'value3') NOT NULL,
  column3 SET('option1', 'option2', 'option3') NOT NULL,
  foreign_key_column INT NOT NULL,
  FOREIGN KEY (foreign_key_column) REFERENCES other_table(id)
);

```

The example above creates a table called **`my_table`** with the following constraints:

- **`id`** column: this is the primary key column with an **`AUTO_INCREMENT`** attribute, which means that it will automatically generate a unique ID for each new row that is inserted.
- **`column1`** column: this has a **`NOT NULL`** and **`UNIQUE`** constraint, which means that it cannot contain null values and must contain unique values across all rows in the table.
- **`column2`** column: this has an **`ENUM`** data type, which restricts its values to a predefined set of options. It also has a **`NOT NULL`** constraint, which means that it cannot contain null values.
- **`column3`** column: this has a **`SET`** data type, which allows it to contain a set of options selected from a predefined set of values. It also has a **`NOT NULL`** constraint, which means that it cannot contain null values.
- **`foreign_key_column`** column: this has a **`FOREIGN KEY`** constraint, which links it to a column in another table (**`other_table`** in this example). The constraint ensures that the value in **`foreign_key_column`** must exist in the referenced column in **`other_table`**

## ?General Quaries

- [Basic query operation: the join](https://intranet.alxswe.com/rltoken/rNMJeQ1jbNTCljbvCSjf6w)
- [SQL technique: multiple joins and the distinct keyword](https://intranet.alxswe.com/rltoken/HhZ6TJ1q5S0aR4lhfpKdOQ)
- [SQL technique: join types](https://intranet.alxswe.com/rltoken/T6FZUQdsMzr8hgNInBzudA)
- [SQL technique: union and minus](https://intranet.alxswe.com/rltoken/Nd-sdM8QUpf0YKIlXzVv4w)
- [The Seven Types of SQL Joins](https://intranet.alxswe.com/rltoken/-plhBsra0N7BOuFoEg--zg)
- [SQL Style Guide](https://intranet.alxswe.com/rltoken/051eAEP_rePBU7jeh879GA)
- [MySQL 8.0 SQL Statement Syntax](https://intranet.alxswe.com/rltoken/YavbYiraYFr8oTukT_N6eQ)

## ?Design, Normalization and Modeling
- [Design](https://intranet.alxswe.com/rltoken/EWLRPeqr5sQ9AqfoG_KXxw)
- [Normalization](https://intranet.alxswe.com/rltoken/mqBhYoSYbhH5ZZrhDcY0kA)
- [ER Modeling](https://intranet.alxswe.com/rltoken/R0exkJmf-2ddKjGfa8D0dA)