In [3]:
import sqlalchemy as db

In [10]:
# engine = db.create_engine('dialect+driver://user:pass@host:port/db')

## Data Management With Python, SQLite, and SQLAlchemy

https://realpython.com/python-sqlite-sqlalchemy/#structuring-a-database-with-sql
https://www.youtube.com/watch?v=5xOx4mjCLJ0

[Introduction to Python SQL Libraries](https://realpython.com/python-sql-libraries/#deleting-table-records)

[SQLAlchemy — Python Tutorial](towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)

In [11]:
# class Student(Base);
# __tablename__ = 'student'
#   id = Column(Integer, primary_key = True)
#   name =Column (String (50))
#   age = Column (integer)
#   grade = Column(String(50))

## SQLAlchemy: Intro and basic steps to connecting to database

Resources <br>
- https://www.pythonsheets.com/notes/python-sqlalchemy.html
- https://www.youtube.com/watch?v=Jk6wBaeBv1k

SQLAlchemy is a Python library that provides a set of high-level APIs for working with relational databases. It is an Object Relational Mapper (ORM) that enables Python developers to work with databases using Python objects rather than raw SQL. SQLAlchemy provides a set of powerful tools for working with databases, including connection pooling, transactions, and a SQL expression language.

The need for SQLAlchemy arises from the fact that working with databases using raw SQL can be complex, error-prone, and tedious. With SQLAlchemy, developers can use Python to interact with the database, which makes it easier to write, read, and maintain code. SQLAlchemy also provides a high level of abstraction, which means that developers can work with the database without worrying too much about the underlying SQL code.

In general, you don't need to explicitly "close" a database connection when using SQLAlchemy. SQLAlchemy automatically manages the connection pool and closes connections when they are no longer needed.

Here's a brief overview of how to use SQLAlchemy:

1. Install SQLAlchemy: Start by installing SQLAlchemy using pip.

```
pythonCopy code
!pip install sqlalchemy

```

2. Import the module: Import the **`create_engine`** function from the **`sqlalchemy`** module.

```
pythonCopy code
from sqlalchemy import create_engine

```

3. Connect to a database: Use the **`create_engine`** function to create a connection to a database. The function takes a URL that specifies the database driver, host, port, username, password, and database name.

```
pythonCopy code
engine = create_engine('mysql+pymysql://<username>:<password>@<host>:<port>/<database_name>')

engine = create_engine("mysql+mysqldb://root:your_password@localhost:3306/test")

```

Replace "your_password" with your actual MySQL password and "test" with the name of an existing database.

4. Create a table: Use the **`MetaData`** class to define the structure of a table. The **`Table`** class is used to create a table object that represents the table in the database.

```
pythonCopy code
from sqlalchemy import Table, Column, Integer, String, MetaData

metadata = MetaData()

mytable = Table('mytable', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('age', Integer),
)

```

This code defines a table called **`mytable`** with three columns: **`id`**, **`name`**, and **`age`**.

 5. Insert data: Use the **`insert()`** method of the table object to insert data into the table.

```
pythonCopy code
conn = engine.connect()

conn.execute(mytable.insert(), [
    {'name': 'John', 'age': 25},
    {'name': 'Jane', 'age': 30},
    {'name': 'Bob', 'age': 35}
])

```

This code inserts three rows of data into the **`mytable`** table.

6. Query data: Use the **`select()`** method of the table object to query data from the table.

```
pythonCopy code
result = conn.execute(mytable.select())

for row in result:
    print(row)

```

This code executes a **`SELECT *`** statement on the **`mytable`** table and retrieves all rows of data. It then loops through the data and prints each row.

7. Close the connection: When you are done working with the database, use the **`close()`** method to close the connection.

```
pythonCopy code
conn.close()

```


Declarative mapping

Declaring a mapping means defining a relationship between a database table and a Python class. This allows the programmer to interact with the database using Python code, rather than directly writing SQL queries.

The mapping is defined using SQLAlchemy's declarative syntax, which involves creating a subclass of the **`declarative_base()`** class and defining attributes on that subclass that correspond to columns in the database table

Once the mapping is defined, the programmer can use the ORM to interact with the database using Python code.

### NOTE: HOW to connect to mysqldb database, create, update and query table

Write an sqlalchemy script with connectection to mysqldb that does the follow, with hypothetical data.
- Connects to a database students
- create a table with 15 records with the following columns; first name, last name, email, address and phone numbers.
- Update 2 of the columns emails and address
- update the constraints of one 
- perform all forms of queries on the table

Comment your code

In [108]:
# import the required libraries
from sqlalchemy import create_engine, Column, String, Integer, ForeignKey
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from prettytable import PrettyTable
import csv

# create a connection to the MySQL database ====================
engine = create_engine('mysql://otomisinsql:passwordTpass@localhost/students')
Session = sessionmaker(bind=engine)
session = Session()

# define a base for declarative class definitions
Base = declarative_base()

# define a Student class that maps to the students table ===================
class Student(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True)
    first_name = Column(String(50), nullable=False)
    last_name = Column(String(50), nullable=False)
    email = Column(String(100), unique=True)
    address = Column(String(100))
    phone_number = Column(String(20))

# create the table in the database
Base.metadata.create_all(engine)

# # add some dummy data to the table ========================
# students_data = [
#     {'first_name': 'John', 'last_name': 'Doe', 'email': 'johndoe@example.com', 'address': '123 Main St', 'phone_number': '555-1234'},
#     {'first_name': 'Jane', 'last_name': 'Doe', 'email': 'janedoe@example.com', 'address': '456 Elm St', 'phone_number': '555-5678'},
#     {'first_name': 'Bob', 'last_name': 'Smith', 'email': 'bobsmith@example.com', 'address': '789 Oak St', 'phone_number': '555-9012'},
#     {'first_name': 'John', 'last_name': 'Does', 'email': 'johndoes@example.com', 'address': '1232 Main St', 'phone_number': '5552-1234'},
#     {'first_name': 'Janes', 'last_name': 'Doe', 'email': 'janedoes@example.com', 'address': '456 Elms St', 'phone_number': '5525-5678'},
#     {'first_name': 'Bobs', 'last_name': 'Smith', 'email': 'bobsmiths@example.com', 'address': '789 Oaks St', 'phone_number': '5515-9012'},
#     {'first_name': 'Alice', 'last_name': 'Johnson', 'email': 'alicejohnson@example.com', 'address': '321 Cherry Ln', 'phone_number': '555-3456'},
#     {'first_name': 'Carl', 'last_name': 'Williams', 'email': 'carlwilliams@example.com', 'address': '654 Walnut Ave', 'phone_number': '555-7890'},
#     {'first_name': 'David', 'last_name': 'Brown', 'email': 'davidbrown@example.com', 'address': '987 Pine Rd', 'phone_number': '555-2345'},
#     {'first_name': 'Emily', 'last_name': 'Jones', 'email': 'emilyjones@example.com', 'address': '543 Cedar St', 'phone_number': '555-6789'},
#     {'first_name': 'Frank', 'last_name': 'Taylor', 'email': 'franktaylor@example.com', 'address': '876 Birch Ave', 'phone_number': '555-0123'},
#     {'first_name': 'Gina', 'last_name': 'Hernandez', 'email': 'ginahernandez@example.com', 'address': '234 Oak St', 'phone_number': '555-4567'},
#     {'first_name': 'Harry', 'last_name': 'Lee', 'email': 'harrylee@example.com', 'address': '567 Pine St', 'phone_number': '555-8901'},
#     {'first_name': 'Isabella', 'last_name': 'Martinez', 'email': 'isabellamartinez@example.com', 'address': '890 Elm Rd', 'phone_number': '555-2345'},
#     {'first_name': 'Jason', 'last_name': 'Garcia', 'email': 'jasongarcia@example.com', 'address': '123 Oak Ln', 'phone_number': '555-6789'},
    
#     # add more records as needed
# ]
# for student_data in students_data:
#     student = Student(**student_data)
#     session.add(student)
# session.commit()

# # update the email and address columns for a student ======================
# student = session.query(Student).filter_by(first_name='John', last_name='Doe').first()
# student.email = 'newemail@example.com'
# student.address = '456 Maple St'
# session.commit()

# # modify the unique constraint on the email column ====================
# session.execute('ALTER TABLE students DROP INDEX email')
# session.execute('ALTER TABLE students ADD UNIQUE INDEX email_address (email, address)')

# perform various queries on the table =================
students = session.query(Student).all()   # select all records

# students = session.query(Student).filter_by(last_name='Doe').all()   # select all records where last name is Doe

# students = session.query(Student).filter(Student.first_name.like('%o%')).all()   # select all records where first name contains the letter 'o'



# Print the table results using prettytable =========================
table = PrettyTable(['ID', 'First Name', 'Last Name', 'Email', 'Address', 'Phone Number'])
for student in students:
    table.add_row([student.id, student.first_name, student.last_name, student.email, student.address, student.phone_number])
print(table)

# # # Output result to CSV =========================
# # open a file to write the results to 
# with open('students.csv', 'w', newline='') as csvfile:
#     # create a writer object to write the CSV file
#     writer = csv.writer(csvfile)
    
#     # write the header row
#     writer.writerow(['id', 'first_name', 'last_name', 'email', 'address', 'phone_number'])
    
#     # write the data rows
#     for student in students:
#         writer.writerow([student.id, student.first_name, student.last_name, student.email, student.address, student.phone_number])

+----+------------+-----------+------------------------------+----------------+--------------+
| ID | First Name | Last Name |            Email             |    Address     | Phone Number |
+----+------------+-----------+------------------------------+----------------+--------------+
| 1  |    John    |    Doe    |     johndoe@example.com      |  123 Main St   |   555-1234   |
| 2  |    Jane    |    Doe    |     janedoe@example.com      |   456 Elm St   |   555-5678   |
| 3  |    Bob     |   Smith   |     bobsmith@example.com     |   789 Oak St   |   555-9012   |
| 4  |    John    |    Does   |     johndoes@example.com     |  1232 Main St  |  5552-1234   |
| 5  |   Janes    |    Doe    |     janedoes@example.com     |  456 Elms St   |  5525-5678   |
| 6  |    Bobs    |   Smith   |    bobsmiths@example.com     |  789 Oaks St   |  5515-9012   |
| 7  |   Alice    |  Johnson  |   alicejohnson@example.com   | 321 Cherry Ln  |   555-3456   |
| 8  |    Carl    |  Williams |   carlwilliams@example.com   | 654 Walnut Ave |   555-7890   |
| 9  |   David    |   Brown   |    davidbrown@example.com    |  987 Pine Rd   |   555-2345   |
| 10 |   Emily    |   Jones   |    emilyjones@example.com    |  543 Cedar St  |   555-6789   |
| 11 |   Frank    |   Taylor  |   franktaylor@example.com    | 876 Birch Ave  |   555-0123   |
| 12 |    Gina    | Hernandez |  ginahernandez@example.com   |   234 Oak St   |   555-4567   |
| 13 |   Harry    |    Lee    |     harrylee@example.com     |  567 Pine St   |   555-8901   |
| 14 |  Isabella  |  Martinez | isabellamartinez@example.com |   890 Elm Rd   |   555-2345   |
| 15 |   Jason    |   Garcia  |   jasongarcia@example.com    |   123 Oak Ln   |   555-6789   |
+----+------------+-----------+------------------------------+----------------+--------------+

C:\Users\orena\AppData\Local\Temp\ipykernel_5104\857637271.py:14: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [82]:

# Import the required modules
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine

# Set up the database connection using create_engine
engine = create_engine("mysql+mysqldb://root:Tpass@localhost:3306/tutorialpoint")

from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

# Create a table student
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String (50)), 
   Column('lastname', String(50)),
)
meta.create_all(engine)

## Insert values
ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
conn = engine.connect()
result = conn.execute(ins)
result.inserted_primary_key

# conn.execute(students.insert(), [
#    {'name':'Rajiv', 'lastname' : 'Khanna'},
#    {'name':'Komal','lastname' : 'Bhandari'},
#    {'name':'Abdul','lastname' : 'Sattar'},
#    {'name':'Priya','lastname' : 'Rajhans'},
# ])

s = students.select()
conn = engine.connect()
result = conn.execute(s)

for row in result:
   print (row)

### NOTE: How to map a classes to databases tables
- https://www.youtube.com/watch?v=jaKMm9njcJc&list=PL4iRawDSyRvVd1V7A45YtAGzDk6ljVPm1
- https://www.youtube.com/watch?v=AKQ3XEDI9Mw&t=197s
- https://www.geeksforgeeks.org/sqlalchemy-orm-declaring-mapping/?ref=rp
- https://www.geeksforgeeks.org/sqlalchemy-mapping-table-columns/
- https://medium.com/analytics-vidhya/object-relational-mapping-with-sqlalchemy-233da7c0f064
- [SQLAlchemy ORM Tutorial for Python Developers](https://auth0.com/blog/sqlalchemy-orm-tutorial-for-python-developers/)

### NOTE: Bulk Insert to Pandas DataFrame Using SQLAlchemy – Python

https://www.geeksforgeeks.org/bulk-insert-to-pandas-dataframe-using-sqlalchemy-python/?ref=rp

NOTE: Basic Relationship Patterns

https://docs.sqlalchemy.org/en/13/orm/basic_relationships.html

## TASKS :

### TASK 0: Connect to a database using SQLAlchemy and perform CRUD operations on a table

In [25]:
# Then, let's assume you have a table called users in a MySQL database called mydb. Here's how you can connect to the database using SQLAlchemy:

# Import the required modules
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import declarative_base

# Set up the database connection using create_engine
# engine = create_engine('mysql://your_username:your_password@your_host/your_database')
# Replace 'your_host', 'your_username', 'your_password', and 'your_database' with your actual database details
engine = create_engine("mysql+mysqldb://root:Tpass@localhost:3306/alx")

# create a Session class to interact with the database
Session = sessionmaker(bind=engine)

# create a declarative base class for our models
Base = declarative_base()

# define a model for the 'users' table
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String(50)) # specify a length for the name column
    email = Column(String(50)) # specify a length for the email column

# create the 'users' table in the database
Base.metadata.create_all(engine)

# create a new user and add it to the database
session = Session()
new_user = User(name='John Doe', email='johndoe@example.com')
session.add(new_user)
session.commit()

# retrieve the user we just added from the database
user = session.query(User).filter_by(name='John Doe').first()
# print(user.name, user.email)

# update the user's email and commit the changes to the database
user.email = 'johndoe2@example.com'
session.commit()
print(user.email)


# # delete the user and commit the changes to the database
# session.delete(user)
# session.commit()

johndoe2@example.com

 ## TASK others:

 ### Connect Python to MySQL, PostgreSQL, SQLite and MS SQL and Load CSV Data

https://www.youtube.com/watch?v=Jk6wBaeBv1k

How to use declarative base

Base = declarative_base()

### ??? TASK 6:  How to create a database in mysql using sqlalchemy

Write a python file that contains the class definition of a `State` and an instance `Base = declarative_base()`:

- `State` class:
    - inherits from `Base` [Tips](https://intranet.alxswe.com/rltoken/SFKIwNZ3IG6_4TL6dEsIuA)
    - links to the MySQL table `states`
    - class attribute `id` that represents a column of an auto-generated, unique integer, can’t be null and is a primary key
    - class attribute `name` that represents a column of a string with maximum 128 characters and can’t be null
- You must use the module `SQLAlchemy`
- Your script should connect to a MySQL server running on `localhost` at port `3306`
- **WARNING:** all classes who inherit from `Base` **must** be imported before calling `Base.metadata.create_all(engine)`

```
guillaume@ubuntu:~/0x0F$ cat 6-model_state.sql
-- Create database hbtn_0e_6_usa
CREATE DATABASE IF NOT EXISTS hbtn_0e_6_usa;
USE hbtn_0e_6_usa;
SHOW CREATE TABLE states;

guillaume@ubuntu:~/0x0F$ cat 6-model_state.sql | mysql -uroot -p
Enter password:
ERROR 1146 (42S02) at line 4: Table 'hbtn_0e_6_usa.states' doesn't exist
guillaume@ubuntu:~/0x0F$ cat 6-model_state.py
#!/usr/bin/python3
"""Start link class to table in database
"""
import sys
from model_state import Base, State

from sqlalchemy import (create_engine)

if __name__ == "__main__":
    engine = create_engine('mysql+mysqldb://{}:{}@localhost/{}'.format(sys.argv[1], sys.argv[2], sys.argv[3]), pool_pre_ping=True)
    Base.metadata.create_all(engine)

guillaume@ubuntu:~/0x0F$ ./6-model_state.py root root hbtn_0e_6_usa
guillaume@ubuntu:~/0x0F$ cat 6-model_state.sql | mysql -uroot -p
Enter password:
Table   Create Table
states  CREATE TABLE `states` (\n  `id` int(11) NOT NULL AUTO_INCREMENT,\n  `name` varchar(128) NOT NULL,\n  PRIMARY KEY (`id`)\n) ENGINE=InnoDB DEFAULT CHARSET=latin1
guillaume@ubuntu:~/0x0F$
```

### TASK 7: Write a script that CREATE DATABASE IF NOT EXISTS hbtn_0e_6_usa; and another that list all the State

Write a script that lists all `State` objects from the database `hbtn_0e_6_usa`

- Your script should take 3 arguments: `mysql username`, `mysql password` and `database name`
- You must use the module `SQLAlchemy`
- You must import `State` and `Base` from `model_state` - `from model_state import Base, State`
- Your script should connect to a MySQL server running on `localhost` at port `3306`
- Results must be sorted in ascending order by `states.id`
- The results must be displayed as they are in the example below
- Your code should not be executed when imported

```
guillaume@ubuntu:~/0x0F$ cat 7-model_state_fetch_all.sql
-- Insert states
INSERT INTO states (name) VALUES ("California"), ("Arizona"), ("Texas"), ("New York"), ("Nevada");

guillaume@ubuntu:~/0x0F$ cat 7-model_state_fetch_all.sql | mysql -uroot -p hbtn_0e_6_usa
Enter password:
guillaume@ubuntu:~/0x0F$ ./7-model_state_fetch_all.py root root hbtn_0e_6_usa
1: California
2: Arizona
3: Texas
4: New York
5: Nevada
guillaume@ubuntu:~/0x0F$
```

In [150]:
# Then, let's assume you have a table called users in a MySQL database called mydb. Here's how you can connect to the database using SQLAlchemy:

# Import the required modules
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import sys
from model_state import Base, State

# Set up the database connection using create_engine
# engine = create_engine('mysql://your_username:your_password@your_host/your_database')
# Replace 'your_host', 'your_username', 'your_password', and 'your_database' with your actual database details
engine = create_engine("mysql+mysqldb://otomisinsql:passwordTpass@localhost:3306/hbtn_0e_6_usa")

# Define the State class using declarative_base
# There is a need to define a new class to access the database. if 
Base = declarative_base()
class State(Base):
    __tablename__ = 'states'
    id = Column(Integer, primary_key=True)
    name = Column(String(128), nullable=False)

# Create a Session class to interact with the database
Session = sessionmaker(bind=engine)

## SHOW THE TABLES ===========================
# Create a MetaData object to hold information about the database
metadata = MetaData()
# Load information about the tables in the database
metadata.reflect(bind=engine)
# Print the table names
print(metadata.tables.keys())

# # Print the datatype of the sates
# print(type(states), "\n")
# print(type(State),"\n")

# ### INSPECT THE COLUMNS=============
# # create an Inspector object to inspect the metadata of the database
# from sqlalchemy import inspect
# inspector = inspect(engine)

# # get the columns for the states table
# columns = inspector.get_columns('states')

# # print the column names and data types
# for column in columns:
#     print(column['name'], column['type'])


## lists all State objects from the database hbtn_0e_6_usa =========================
# Create a session
session = Session()
# Query all State objects from the database
listquerry = session.query(State).all()
# Print the states
for state in listquerry:
    print(state.id, state.name)

# Close the session
session.close()

dict_keys(['states'])
1 California
2 Arizona
3 Texas
4 New York
5 Nevada

C:\Users\orena\AppData\Local\Temp\ipykernel_5104\712064252.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

### TASK 8: 8. First state

### TASK 8: 9. Contains `a`

### TASK 8: 8. First state

### TASK 8: 8. First state